/* RESPONSIVE HEADER BACKGROUND */

.header {
    background-repeat: no-repeat;
  }
  
  @media only screen and (min-width: 100px) {
    .header { 
       background-image: url('img/banner-01.jpg');
       background: cover; 
    }
  }

  @media only screen and (min-width: 300px) {
    .header { 
       background-image: url('img/banner-02.jpg'); 
    }
  }

   @media only screen and (min-width: 1000px) {
    .header { 
       background-image: url('img/banner-03.jpg'); 
    }
  }

  @media only screen and (min-width: 1500px) {
    .header { 
       background-image: url('img/banner-04.jpg'); 
    }
  }


/* RESPONSIVE MAS INFO */

@media only screen and (min-width: 100px) {
    .infobanner { 
        height: auto;
        padding: 150px 0px 0px 10px;
        max-width: 100%; 
    }

    h1 {
        font-size: 30px;
        font-weight: 900;
    }

    .imput {
        margin: 0px 0px 10px 0px;
    }

    .masinfo {
        background-color: rgba(255, 255, 255, 0.562);
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .btn-primary {
        width: 200px;
        margin: 20px 0px 0px 0px;
    }

  }


  @media only screen and (min-width: 400px) {
    .infobanner { 
        height: auto;
        padding: 100px 0px 30px 50px;
        max-width: 50%; 
    }

    h1 {
        font-size: 30px;
        font-weight: 900;
    }

    .imput {
        margin: 0px 0px 10px 0px;
    }

    .masinfo {
        background-color: rgba(255, 255, 255, 0.562);
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .btn-primary {
        width: 200px;
        margin: 20px 0px 0px 0px;
    }

  }

  @media only screen and (min-width: 1200px) {
    .infobanner { 
        height: 800px;
        padding: 160px 0px 30px 150px;
        max-width: 45%; 
    }
    h1 {
        font-size: 45px;
        font-weight: 900;
    }

    .imput {
        margin: 0px 0px 10px 0px;
    }

    .masinfo {
        background-color: rgba(255, 255, 255, 0.562);
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .btn-primary {
        width: 200px;
        margin: 20px 0px 0px 0px;
    }

  }

  @media only screen and (min-width: 1500px) {
    .infobanner { 
        height: 1080px;
        padding: 250px 0px 30px 150px;
        max-width: 30%; 
    }
    h1 {
        font-size: 45px;
        font-weight: 900;
    }

    .imput {
        margin: 0px 0px 10px 0px;
    }

    .masinfo {
        background-color: rgba(255, 255, 255, 0.562);
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .btn-primary {
        width: 200px;
        margin: 20px 0px 0px 0px;
    }

  }
